<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="High quality Data Tagging service, optimized for your Machine Learning modeling。">
    <title>Stardust</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="../public/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/animate.css">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link rel="stylesheet" type="text/css" href="../public/css/media.css">

</head>
<body class="en">
<header class="navbar nav-wrap  nav-ph">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button">
                <span class="sr-only">Stardust</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           <div class="navbar-brand">
                <a href="/">
                    <div class="img-bg-en"></div>
                </a>
                <div class="cut-box">
                    <a href="/?force=1">中文</a>/<a href="/en?force=1">EN</a>
                </div>
           </div>
        </div>
        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#banner-wrap">HOME</a></li>
                <li><a href="#serve-wrap">SERVE</a></li>
                <li><a href="#excuse-wrap">ADVANTAGE</a></li>
                <li><a href="#about-wrap">ABOUT</a></li>
                <li class="hidden-sm"><a href="#apply-wrap">UPLOAD SAMPLE DATA</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="banner-wrap" id="banner-wrap">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div class="banner-text">
        <div class="img-box-en" data-scroll-reveal="enter top and move 50px over 1s wait 1s"></div>
        <p class="banner-title-en" data-scroll-reveal="enter top and move 20px over 1s wait .2s">High quality Data Tagging service, optimized for your Machine Learning modeling。</p>
        <a href="http://startask.net/" class="btn-up" data-scroll-reveal="enter bottom and move 50px over 1s wait 1s">
            Start now
            <span class="line line-top"></span>
            <span class="line line-right"></span>
            <span class="line line-bottom"></span>
            <span class="line line-left"></span>
        </a>
    </div>
    <a href="javascript:;" class="btn btn-link" data-toggle="modal" data-target="#what-is-training-data">
        What is training data? <i class="glyphicon glyphicon-plus-sign"></i>
    </a>
</div>
<div class="serve-wrap" id="serve-wrap">
    <div class="container">
        <div class="serve-wrap-title" data-scroll-reveal="enter top and move 100px over 1s wait 0s">
            <div id="serve-title-1">
                <h2>We provide extensive set of annotation tools</h2>
                <p class="info">
                    We can also tune our tools and process for your business needs.
                </p>
            </div>
            <div id="serve-title-2">
                <h2>Highest data quality in industry</h2>
                <p class="info">
                    Stardust  balances between accuracy and cost, so that you can focus on modeling
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12" data-scroll-reveal="enter bottom and move 150px over 1s wait 0.5s">
                <span class="postlink">
                    <img src="../public/img/sev_1.png">
                    <div class="text-box">Image annotation</div>
                    <div class="overlay"></div>
                </span>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" data-scroll-reveal="enter bottom and move 150px over 1s wait 0.5s">
                <span class="postlink">
                    <img src="../public/img/sev_2.png">
                    <div class="text-box">Autonomous driving</div>
                    <div class="overlay"></div>
                </span>
            </div>
            <!-- <div class="col-md-4 col-sm-6 col-xs-12" data-scroll-reveal="enter bottom and move 150px over 1s wait 0.5s">
                <span class="postlink">
                    <div class="text-box">IMAGE TAGGING</div>
                    <img src="../public/img/sev_3.png">
                    <div class="overlay"></div>
                </span>
            </div> -->
            <div class="col-md-4 col-sm-6 col-xs-12" data-scroll-reveal="enter bottom and move 150px over 1s wait 0.8s">
                <span class="postlink">
                    <div class="text-box">Image captioning</div>
                    <img src="../public/img/sev_4.png">
                    <div class="overlay"></div>
                </span>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" data-scroll-reveal="enter bottom and move 150px over 1s wait 0.8s">
                <span class="postlink">
                    <div class="text-box">Entity extraction</div>
                    <img src="../public/img/sev_5.png">
                    <div class="overlay"></div>
                </span>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" data-scroll-reveal="enter bottom and move 150px over 1s wait 0.8s">
                <span class="postlink">
                    <div class="text-box">OCR</div>
                    <img src="../public/img/sev_6.png">
                    <div class="overlay"></div>
                </span>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" data-scroll-reveal="enter bottom and move 150px over 1s wait 1s">
                <span class="postlink">
                    <div class="text-box">Audio classification</div>
                    <img src="../public/img/sev_7.png">
                    <div class="overlay"></div>
                </span>
            </div>
            <!-- <div class="col-md-4 col-sm-6 col-xs-12" data-scroll-reveal="enter bottom and move 150px over 1s wait 1s">
                <span class="postlink">
                    <div class="text-box">Facial recognition</div>
                    <img src="../public/img/sev_8.png">
                    <div class="overlay"></div>
                </span>
            </div> -->
            <div class="col-md-4 col-sm-6 col-xs-12" data-scroll-reveal="enter bottom and move 150px over 1s wait 1s">
                <span class="postlink">
                    <div class="text-box">Facial recognition</div>
                    <img src="../public/img/sev_8.png">
                    <div class="overlay"></div>
                </span>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" data-scroll-reveal="enter bottom and move 150px over 1s wait 1s">
                <span class="postlink">
                    <div class="text-box">Audio transcription</div>
                    <img src="../public/img/sev_9.png">
                    <div class="overlay"></div>
                </span>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" data-scroll-reveal="enter bottom and move 150px over 1s wait 1s">
                <span class="postlink">
                    <div class="text-box">Your tool</div>
                    <img src="../public/img/sev_3.png">
                    <div class="overlay"></div>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="excuse-wrap" id="excuse-wrap">
    <div class="container">
        <div class="row">
            <h2 data-scroll-reveal="enter top and move 50px over 1s wait 0s">Why Stardust</h2>
            <div class="col-md-6 col-sm-6 col-xs-12" data-scroll-reveal="enter left and move 300px over 1.2s wait .5s">
                <dl>
                    <dt>Built for AI</dt>
                    <dd><i></i>Service from data scientitist, to data scientist.</dd>
                    <dd><i></i>Customizable tagging process.</dd>
                    <dd><i></i>End-to-end training data solution.</dd>
                </dl>
                <dl>
                    <dt>Data quality with confidence</dt>
                    <dd><i></i>Quality control system.</dd>
                    <dd><i></i>Dynamic reviewing for higher accuracy.</dd>
                    <dd><i></i>Continuous performance evaluation.</dd>
                </dl>
                <dl>
                    <dt>Human intelligence just a click away</dt>
                    <dd><i></i>Use human labor without housekeeping.</dd>
                    <dd><i></i>Anytime, anywhere, pay as you go.</dd>
                    <dd><i></i>Finish your work in hours, not in weeks.</dd>
                </dl>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" data-scroll-reveal="enter right and move 300px over 1.2s wait .5s">
                <div class="img-box"><img src="../public/img/group-29.png_1806x1188.png"></div>
            </div>
        </div>
    </div>
</div>
<!-- 服务流程 -->
<div class="flow-wrap">
    <div class="container">
        <div class="row">
            <h2 data-scroll-reveal="enter top and move 100px over 1s wait 0s">Our Process</h2>
            <div class="col-md-4"  data-scroll-reveal="enter bottom and move 50px over 1s wait 0.5s">
                <div class="img-box"><img src="../public/img/flow_1.png"></div>
                <div class="text-box">
                    <h3>Upload your data</h3>
                    <p>
                        Text, images, audio, or video From public sources or your mission-critical systems of record Our specialist will optimize your plan.
                    </p>
                </div>
            </div>
            <div class="col-md-4" data-scroll-reveal="enter bottom and move 50px over 1s wait 0.5s">
                <div class="img-box"><img src="../public/img/flow_2.png"></div>
                <div class="text-box">
                    <h3>We work on it</h3>
                    <p>
                        Dynamically allocate to the best worker
                        Control the data quality for you
                        Eliminate unqualified answers
                    </p>
                </div>
            </div>
            <div class="col-md-4" data-scroll-reveal="enter bottom and move 50px over 1s wait 0.5s">
                <div class="img-box"><img src="../public/img/flow_4.png"></div>
                <div class="text-box">
                    <h3>Get your data</h3>
                    <p>
                        Simply download the result
                        And train your model
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 关于我们 -->
<div class="about-wrap" id="about-wrap">
    <div class="container">
        <h2 data-scroll-reveal="enter top and move 50px over 1s wait 0s">About Us</h2>
        <p class="info" data-scroll-reveal="enter top and move 50px over 1s wait 0s">
            Stardust is a Training-Data-as-a-Service(TDAAS) platform. We provide training data, as well as other ad-hoc works that's done by our qualified human worker. We are available around the clock to turn your raw data into data your machine learning model can use.
            <br />From a team of experienced data scientists, we have a deep understanding in machine learning modeling and data annotation. Stardust is proud to be the first Training-Data-as-a-Service provider on the cloud.
        </p>
        <div class="row">
            <div class="col-md-4 col-md-offset-2" data-scroll-reveal="enter bottom and move 100px over 1s wait .5s">
                <div class="img-box"><img src="../public/img/person_1.png"></div>
                <div class="text-box">
                    <h3>CEO lei zhang</h3>
                    <p>
                        Mr. Zhang Lei has worked at the World Bank, Wall Street and Silicon Valley for 8 years, and has broad experience in finance, insurance, data, modeling, AI, etc. He developped the world's first equity investment robot and worked as Chief Data scientist at a FinTech company. Lei graduated from Zhejiang university and holds M.S. degree from George Washington University.
                    </p>
                </div>
            </div>
            <div class="col-md-4" data-scroll-reveal="enter bottom and move 100px over 1s wait .5s">
                <div class="img-box"><img src="../public/img/person_2.png"></div>
                <div class="text-box">
                    <h3>CTO Lei Dong</h3>
                    <p>
                        Dr.Dong Lei graduated from Tsinghua University and he was a visiting scholar at Harvard University. Before joining Stardust, he worked at the Baidu Research lab, specialized in social economic modeling using diverse datasets. During which he deeply involved in social data crowdsourcing.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="join-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-6">
                <div class="img-box "><img src="../public/img/join_1.png"></div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="img-box"><img src="../public/img/join_2.png"></div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="img-box"><img src="../public/img/join_3.png"></div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="img-box"><img src="../public/img/join_4.png"></div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="img-box"><img src="../public/img/join_5.png"></div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="img-box"><img src="../public/img/join_6.png"></div>
            </div>
        </div>
    </div>
</div>

<!-- 申请 -->
<div class="apply-wrap" id="apply-wrap">
    <div class="container">
        <h2 data-scroll-reveal="enter top and move 100px over 1s wait 0s" class="csshub-shine">Get Your Training Data Now</h2>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12">
                <form id="form" method="post" action="email" enctype="multipart/form-data" accept-charset="utf-8">
                    <div class="input-box">
                        <input type="text" name="name" placeholder="Name">
                    </div>
                    <div class="input-box">
                        <input type="text" name="email" placeholder="Email">
                    </div>
                        <div class="input-box">
                        <input type="text" name="phone" placeholder="Phone Number(optional)">
                    </div>
                    <div class="input-box">
                        <textarea  rows="1" placeholder="Task description" name="demand"></textarea>
                    </div>
                    <div class="input-box clearfix input-file">
                        <input type="file" name='upload'>
                        <span class="btn-file"><i class="icon_up"></i>upload data</span>
                        <div class="info-file"></div>
                    </div>
                    <span class="sub-btn">Contact us</span>
                    <span class="or">Or</span>
                    <a href="http://startask.net/" class="btn-center" target="_blank">Start now</a>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
<div class="container">
    <div class="img-box"><img src="../public/img/logo_color_en.png"></div>
    <p class="email-p"><a href="mailto:contact@stardust.ai">contacts@stardust.ai</a></p>
    <p class="copy">© 2017 stardust.ai.Training Data as a Service and TDaaS are registered trademarks of stardust.ai</p>
</div>
</footer>

<div id="what-is-training-data" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">What Is Training Data?</h4>
        </div>
        <div class="modal-body">
            <p>
                Training data is the dataset used as input for Machine Learning algorithms. It is usually tagged by human, and it is the part of the job that comcumes a lot of money, time and effort.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript" src="../public/js/jquery.js"></script>
<script type="text/javascript" src='../public/js/bootstrap.min.js'></script>
<script type="text/javascript" src='../public/js/jquery.nav.js'></script>
<script type="text/javascript" src='../public/js/scrollReveal.js'></script>
<script type="text/javascript" src='../public/js/jquery.validate.min.js'></script>
<script type="text/javascript" src='../public/js/layer.js'></script>
<script>
    currentLang = 'en';
</script>
<script type="text/javascript" src='../public/js/app.js'></script>
</body>
</html>