<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Stardust</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="../public/img/favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/animate.css">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link rel="stylesheet" type="text/css" href="../public/css/media.css">

</head>
<body>
<header class="navbar nav-wrap  nav-ph">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button">
                <span class="sr-only">星尘数据</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           <div class="navbar-brand">
                <a href="/"><div class="img-bg"></div></a>
                    <div class="cut-box">
                        <a href="/">中文</a>/<a href="/en">EN</a>
                    </div>

           </div>
        </div>
        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#banner-wrap">首页</a></li>
                <li><a href="#serve-wrap">服务产品</a></li>
                <li><a href="#excuse-wrap">服务优势</a></li>
                <li><a href="#about-wrap">关于我们</a></li>
                <li><a href="#apply-wrap">上传数据</a></li>

            </ul>
        </nav>
    </div>
</header>
<div class="banner-wrap" id="banner-wrap">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div class="banner-text">
        <div class="img-box" data-scroll-reveal="enter top and move 50px over 1s wait 1s"></div>
        <p class="banner-title" data-scroll-reveal="enter top and move 20px over 1s wait .2s">高精度数据标注，加速你的机器学习模型。</p>
        <a href="http://startask.net/" class="btn-up" data-scroll-reveal="enter bottom and move 50px over 1s wait 1s">
            快速开始
            <span class="line line-top"></span>
            <span class="line line-right"></span>
            <span class="line line-bottom"></span>
            <span class="line line-left"></span>
        </a>
    </div>
</div>
<div class="what-wrap" id="what-wrap">
    <div class="container">
        <div class="serve-wrap-title" data-scroll-reveal="enter top and move 100px over 1s wait 0s">
            <h2>什么是训练数据</h2>
            <p class="info">
                训练数据就是机器学习模型用来学习的数据。它通常都是由人工标注生成的，因此也是AI公司比较费钱、费时、费力的一部分工作。
            </p>
        </div>
    </div>
</div>
<div class="serve-wrap" id="serve-wrap">
    <div class="container">
        <div class="serve-wrap-title" data-scroll-reveal="enter top and move 100px over 1s wait 0s">
            <h2>我们提供多样的标注工具</h2>
            <p class="info">我们也可以为你提供定制化的标注解决方案。</p>
        </div>
        <div class="row">

            <div class="col-md-4 col-xs-6" data-scroll-reveal="enter bottom and move 150px over 1s wait 0.5s">
                <span class="postlink">
                    <img src="../public/img/sev_1.png">
                    <div class="text-box">图片框选</div>
                    <div class="overlay"></div>
                </span>
            </div>
            <div class="col-md-4 col-xs-6" data-scroll-reveal="enter bottom and move 150px over 1s wait 0.5s">
                <span class="postlink">
                    <img src="../public/img/sev_2.png">
                    <div class="text-box">无人驾驶</div>
                    <div class="overlay"></div>
                </span>
            </div>
            <!-- <div class="col-md-4 col-xs-6" data-scroll-reveal="enter bottom and move 150px over 1s wait 0.5s">
                <span class="postlink">
                    <div class="text-box">图片加注</div>
                    <img src="../public/img/sev_3.png">
                    <div class="overlay"></div>
                </span>
            </div> -->
            <div class="col-md-4 col-xs-6" data-scroll-reveal="enter bottom and move 150px over 1s wait 0.8s">
                <span class="postlink">
                    <div class="text-box">图片加注</div>
                    <img src="../public/img/sev_4.png">
                    <div class="overlay"></div>
                </span>
            </div>
            <div class="col-md-4 col-xs-6" data-scroll-reveal="enter bottom and move 150px over 1s wait 0.8s">
                <span class="postlink">
                    <div class="text-box">文本主题</div>
                    <img src="../public/img/sev_5.png">
                    <div class="overlay"></div>
                </span>
            </div>
            <div class="col-md-4 col-xs-6" data-scroll-reveal="enter bottom and move 150px over 1s wait 0.8s">
                <span class="postlink">
                    <div class="text-box">文字识别</div>
                    <img src="../public/img/sev_6.png">
                    <div class="overlay"></div>
                </span>
            </div>
            <div class="col-md-4 col-xs-6" data-scroll-reveal="enter bottom and move 150px over 1s wait 1s">
                <span class="postlink">
                    <div class="text-box">音频分类 </div>
                    <img src="../public/img/sev_7.png">
                    <div class="overlay"></div>
                </span>
            </div>
            <!-- <div class="col-md-4 col-xs-6" data-scroll-reveal="enter bottom and move 150px over 1s wait 1s">
                <span class="postlink">
                    <div class="text-box">xxxx</div>
                    <img src="../public/img/sev_8.png">
                    <div class="overlay"></div>
                </span>
            </div> -->
            <div class="col-md-4 col-xs-6" data-scroll-reveal="enter bottom and move 150px over 1s wait 1s">
                <span class="postlink">
                    <div class="text-box">人脸识别</div>
                    <img src="../public/img/sev_8.png">
                    <div class="overlay"></div>
                </span>
            </div>
            <div class="col-md-4 col-xs-6" data-scroll-reveal="enter bottom and move 150px over 1s wait 1s">
                <span class="postlink">
                    <div class="text-box">语音转译</div>
                    <img src="../public/img/sev_9.png">
                    <div class="overlay"></div>
                </span>
            </div>
            <div class="col-md-4 col-xs-6" data-scroll-reveal="enter bottom and move 150px over 1s wait 1s">
                <span class="postlink">
                    <div class="text-box">你的工具</div>
                    <img src="../public/img/sev_3.png">
                    <div class="overlay"></div>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="excuse-wrap" id="excuse-wrap">
    <div class="container">
        <div class="row">
            <h2 data-scroll-reveal="enter top and move 50px over 1s wait 0s">为什么选择<span class="block-p">星尘数据</span></h2>
                <div class="col-md-6 img-right" data-scroll-reveal="enter right and move 300px over 1.2s wait .5s">
                    <div class="img-box"><img src="../public/img/group-29.png_1806x1188.png"></div>
                </div>
                <div class="col-md-6" data-scroll-reveal="enter left and move 300px over 1.2s wait .5s">
                    <dl>
                        <dt>专为人工智能打造的数据服务</dt>
                        <dd><i></i>国际顶尖机器学习专家打造专业平台</dd>
                        <dd><i></i>深入挖掘项目需求，度身定制最优方案</dd>
                        <dd><i></i>专为机器学习建模设计最佳数据标注服务</dd>
                    </dl>
                    <dl>
                        <dt>智能管理系统全程保障数据质量</dt>
                        <dd><i></i>由来自谷歌和百度的标注系统的设计理念</dd>
                        <dd><i></i>动态审核机制确保数据标注质量</dd>
                        <dd><i></i>持续质量评估系统</dd>
                    </dl>
                    <dl>
                        <dt>精准、快速、高性价比的一站式服务</dt>
                        <dd><i></i>调用人力，免管理</dd>
                        <dd><i></i>随时随地，价格灵活</dd>
                        <dd><i></i>几小时即可获取结果</dd>
                    </dl>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- 服务流程 -->
<div class="flow-wrap">
    <div class="container">
        <div class="row">
            <h2 data-scroll-reveal="enter top and move 100px over 1s wait 0s">服务流程</h2>
            <div class="col-md-3"  data-scroll-reveal="enter bottom and move 50px over 1s wait 0.5s">
                <div class="img-box"><img src="../public/img/flow_1.png"></div>
                <div class="text-box">
                    <h3>提交需求</h3>
                    <p>提交您的相关资料及需求，我们的项目专员将尽快与您取得联系。您可以提交文本、图像、音视频或您的项目数据。</p>
                </div>
            </div>
            <div class="col-md-3" data-scroll-reveal="enter bottom and move 50px over 1s wait 0.5s">
                <div class="img-box"><img src="../public/img/flow_2.png"></div>
                <div class="text-box">
                    <h3>定制解决方案</h3>
                    <p>我们将根据您的需求，经过专业数据科学家团队的建议优化，对需求进行深入挖掘并给出最佳解决方案。</p>
                </div>
            </div>
            <div class="col-md-3" data-scroll-reveal="enter bottom and move 50px over 1s wait 0.5s">
                <div class="img-box"><img src="../public/img/flow_3.png"></div>
                <div class="text-box">
                    <h3>数据标注服务</h3>
                    <p>将您的定制方案与高质量人员高效匹配，通过动态发单和冗余来保证工作质量。实时监控方案执行仪表盘，随时随地查看报告跟踪需求进度。</p>
                </div>
            </div>
            <div class="col-md-3" data-scroll-reveal="enter bottom and move 50px over 1s wait 0.5s">
                <div class="img-box"><img src="../public/img/flow_4.png"></div>
                <div class="text-box">
                    <h3>高质量内容交付</h3>
                    <p>根据您的需求，经过动态数据质量控制，为您提供高质量的内容交付——可直接训练模型的成熟数据。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 关于我们 -->
<div class="about-wrap" id="about-wrap">
    <div class="container">
        <h2 data-scroll-reveal="enter top and move 50px over 1s wait 0s">关于我们</h2>
        <p class="info" data-scroll-reveal="enter top and move 50px over 1s wait 0s">
            星尘数据是一家为专为人工智能研发机构服务的训练数据服务平台。我们提供训练模型过程中所需要的人力来帮助解决数据的采集、标定、质量监控等工作，使企业能够专注于自己的核心业务。
            <br />星尘数据的团队成员均来自于世界一流的知名企业，有着多年机器学习的经验和对数据标注服务的深入理解。作为世界第一款云端训练数据解决方案平台，我们期待为您服务。
        </p>
        <div class="row">
            <div class="col-md-4" data-scroll-reveal="enter bottom and move 100px over 1s wait .5s">
                <div class="img-box"><img src="../public/img/person_1.png"></div>
                <div class="text-box">
                    <h3>CEO 章磊</h3>
                    <p>曾在世界银行、华尔街、硅谷工作8年。涉及金融、保险、数据、量化、风险模型、人工智能等方向。在CircleUp开发了世界首款股权投资机器人，在北京担任首席数据科学家。毕业于浙江大学以及乔治华盛顿大学。</p>
                </div>
            </div>
            <div class="col-md-4" data-scroll-reveal="enter bottom and move 100px over 1s wait .5s">
                <div class="img-box"><img src="../public/img/person_2.png"></div>
                <div class="text-box">
                    <h3>CTO 董磊</h3>
                    <p>清华大学双学士、博士，哈佛大学访问学者。曾工作于百度人工智能实验室，从事基于移动端数据的分析与建模工作。对众包数据有很深入的研究。</p>
                </div>
            </div>
            <div class="col-md-4" data-scroll-reveal="enter bottom and move 100px over 1s wait .5s">
                <div class="img-box"><img src="../public/img/person_3.png"></div>
                <div class="text-box">
                    <h3>CPO 杨民光</h3>
                    <p>谷歌人工智能产品经理，负责机器学习方面的项目。之前有创业经验，项目被谷歌收购。毕业于康奈尔大学以及密西根大学。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="join-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-6">
                <div class="img-box "><img src="../public/img/join_1.png"></div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="img-box"><img src="../public/img/join_2.png"></div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="img-box"><img src="../public/img/join_3.png"></div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="img-box"><img src="../public/img/join_4.png"></div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="img-box"><img src="../public/img/join_5.png"></div>
            </div>
            <div class="col-md-2 col-xs-6">
                <div class="img-box"><img src="../public/img/join_6.png"></div>
            </div>
        </div>
    </div>
</div>

<!-- 申请 -->
<div class="apply-wrap" id="apply-wrap">
    <div class="container">
        <h2 data-scroll-reveal="enter top and move 100px over 1s wait 0s" class="csshub-shine">立即开始定制<span class="block-p">你的专属数据</span></h2>
        <div class="row">
            <div class="col-md-6">
                <a href="http://startask.net/" class="btn-center" target="_blank">快速开始</a>
            </div>
            <div class="col-md-6">
                <form id="form" method="post" action="email" enctype="multipart/form-data" accept-charset="utf-8">
                    <div class="input-box">
                        <input type="text" name="name" placeholder="姓名/必填">
                    </div>
                    <div class="input-box">
                        <input type="text" name="email" placeholder="邮箱/必填">
                    </div>
                     <div class="input-box">
                        <input type="text" name="phone" placeholder="手机号/选填">
                    </div>
                    <div class="input-box">
                        <textarea  rows="1" placeholder="请简要填写您的需求/必填" name="demand"></textarea>
                    </div>
                    <div class="input-box clearfix input-file">
                        <input type="file" name='upload'>
                        <span class="btn-file"><i class="icon_up"></i>上传数据</span>
                        <div class="info-file"></div>
                    </div>
                    <span class="sub-btn">立即定制服务</span>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
<div class="container">
    <div class="img-box"><img src="../public/img/logo_b.png"></div>
    <p class="email-p"><a href="mailto:contact@stardust.ai">contacts@stardust.ai</a></p>
    <p class="copy">© 2017 stardust.ai.Training Data as a Service and TDaaS are registered trademarks of stardust.ai</p>
</div>
</footer>
<script type="text/javascript" src="../public/js/jquery.js"></script>
<script type="text/javascript" src='../public/js/bootstrap.min.js'></script>
<script type="text/javascript" src='../public/js/jquery.nav.js'></script>
<script type="text/javascript" src='../public/js/scrollReveal.js'></script>
<script type="text/javascript" src='../public/js/jquery.validate.min.js'></script>
<script type="text/javascript" src='../public/js/layer.js'></script>
<script type="text/javascript">
$(function(){
    $('.banner-text').show();
    window.scrollReveal = new scrollReveal({reset: false,mobile: true, easing:'ease'});
    $('.btn-up').click(function(){
        $('html,body').animate({scrollTop: $('#apply-wrap').offset().top }, 1000);
        return false;
    });
    $('.navbar-toggle').click(function(){
    if ($('.collapse').is(':hidden')) {
        $('.collapse').slideDown();
    }else{
        $('.collapse').slideUp();
    }
})
$('.navbar-nav li a').click(function(){
    $('.collapse').slideUp();
    return false;
})
    // 验证表单
    $('#form').validate({
            rules:{
                name: {
                    required:true,
                },
                email: {
                    required:true,
                    email:true
                },
                demand: {
                    required:true,
                }

             },
           messages :{
                name: {
                    required:'*不能为空',
                },
                email: {
                    required:'*不能为空',
                    email:"输入邮箱有误"
                },
                demand: {
                    required:'*不能为空',
                }

           }
    })
    $(".input-file").on("change","input[type='file']",function(){
        var filePath =$(this).val();
        var arr=filePath.split('\\');
        var fileName=arr[arr.length-1];
         $(".info-file").html(fileName);
    })

    $('.sub-btn').click(function(){
        var formData = new FormData($('input[textarea="demand"]')[0]);
        if($("#form").valid()){
            var form = new FormData(document.getElementById("form"));
            $.ajax({
                url:"email",
                type:"post",
                data:form,
                cache: false,
                processData: false,
                contentType: false,
                beforeSend:function(){
                    layer.load(2);
                },
                success:function(data){
                    if (data.code ==2) {
                         layer.msg('请使用公司邮箱!!');
                    }else if(data.code ==1){
                        layer.msg('恭喜您提交成功！');
                    }

                 },
                error:function(e){
                   layer.msg('网络错误，请重试！！');
                 },
                complete:function(){
                    layer.closeAll('loading');
                }
            });
        }
    })

   // 导航
   $('.nav').onePageNav();
   $(window).scroll(function(e){
    if ($(window).scrollTop()>$('.banner-wrap').height()-2) {
        $('.navbar').addClass('nav-wrap-bottom')
    }else if($(window).scrollTop()<$('.banner-wrap').height()){
        $('.navbar').removeClass('nav-wrap-bottom');
    }

   })

});

</script>
</body>
</html>